[package]
name = "fe-runtime-container"
version = "0.1.1"
edition = "2024"

[[bin]]
name = "frc"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
dirs = "5.0"
anyhow = "1.0"
chrono = "0.4"
